fastapi
uvicorn
python-multipart
torch
torchvision
torchaudio
opencv-python-headless
Pillow
numpy
librosa
scipy
requests
tldextract
validators
beautifulsoup4
yt_dlp
transformers
timm
facenet-pytorch
moviepy
