torch
torchvision
pytorch-lightning
gradio
streamlit
opencv-python
PyYAML
Pillow
numpy
scikit-learn
tensorboard
facenet-pytorch
imageio
matplotlib
fpdf
timm
yt-dlp
requests
gdown
beautifulsoup4
lxml
validators
tldextract
transformers
soundfile
